img{
    width: 200px;
    height: 80px;
    border: 0px; 
    border-radius: 10px;
}
.titulo{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #2B2B2B;
}
.fecha{
    font-size: 14px;
    color: #6C6C6C
}
h3{
    font-weight: 700;
}