<ion-row [ngStyle]="{'background-color': cardColors[colores]}" class="fondo">
  <ion-col size="12"></ion-col>
</ion-row>

<!-- Botones del encabezado
<ion-row class="encabezado">
  <ion-col size="3">
    <ion-button (click)="ruta()" expand="block" fill="clear" shape="round">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    
  </ion-col>
  <ion-col size="6"></ion-col>
  <ion-col size="3">
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row> -->