body{
  overflow-y: auto;
}
ion-app{
  background-color: white;    
  overflow-y: auto;
}

img{
  opacity: 0.5;
  position: fixed;
  right: 0px;
  top:-100px;
  right: -100px; 
  width: 300px;
  z-index: -3;
}

h1{
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 35px;
  margin-left: 20px;
  padding-top: 20px;   
  color: black;
}

.main-categories{
  border: 0px;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
}

.main-news{
  background-color: #f5f5f5;
}

ion-grid{
  background-color: #f5f5f5;
}