<ion-content>  
  <ion-row style="margin-top: 40px;">
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <img src="assets/img/pswd-img.png" alt="An image of Snorlax sleeping">
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <form>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="stacked">Type your email</ion-label>
          <ion-input placeholder="Awesome email!" #email required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="8">
          <button type="submit" class="login" (click)="onResetPassword(email)" class="google"><span><ion-icon name="send" style="text-align: left; font-size: 20px; color: white;"></ion-icon></span>&nbsp; Verify my email</button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <p>
        <a routerLink="/login">Keep catching all!</a>
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <img src="assets/img/pokeball.png" alt="A pokeball in the background" class="background">
    </ion-col>
  </ion-row>
</ion-content>
